<div class="card">
   <div class="card-header">
     <h4 class="card-title">Out of Range GPS Rules</h4>
     <h5 class="card-category" ng-if="!GetRulesController.outOfRangeGpsRules.length">0 out of range rules installed</h5>
   </div>
   <div class="card-body">
     <div class="table-responsive" ng-if="GetRulesController.outOfRangeGpsRules.length">
       <table class="table" >
         <thead class="text-primary">
           <th class="text-center">
             #
           </th>
           <th>
             GPS name
           </th>
           <th>
             Minimum time between triggers
           </th>
           <th class="text-center">
             Latitude
           </th>
           <th class="text-center">
             Longitude
           </th>
           <th class="text-center">
             Range
           </th>
           <th class="text-right">
             Enabled
           </th>                     
           <th class="text-right">
             Actions
           </th>                      
         </thead>
         <tbody>
           <tr ng-repeat= "outOfRangeGpsRule in GetRulesController.outOfRangeGpsRules track by outOfRangeGpsRule.getId()" >
             <td class="text-center">
               {{outOfRangeGpsRule.getId()}}
             </td>
             <td>
               {{outOfRangeGpsRule.getGpsName()}}
             </td>
             <td>
               {{outOfRangeGpsRule.getTimeBetweenTriggers()}}  
             </td>
             <td class="text-center">
               {{outOfRangeGpsRule.getLatitude()}}  
             </td>
             <td class="text-center">
               {{outOfRangeGpsRule.getLongitude()}}   
             </td>
             <td class="text-center">
               {{outOfRangeGpsRule.getRange()}}   
             </td>
             <td class="text-right">
             	<span ng-switch="outOfRangeGpsRule.isEnabled()">
             		<button ng-switch-when="false" type="button" rel="tooltip" disabled class="btn btn-danger btn-icon btn-sm" >
                 		<i class="fa fa-power-off"></i>
               		</button>
               		<button ng-switch-when="true" type="button" rel="tooltip" disabled class="btn btn-success btn-icon btn-sm" >
                 		<i class="fa fa-power-off"></i>
               		</button>
             	</span>                   
             </td>
             <td class="text-right" ng-switch="outOfRangeGpsRule.isEnabled()">
               <button ng-switch-when="false"  type="button" rel="tooltip" class="btn btn-outline-danger btn-icon btn-sm" ng-click="GetRulesController.enableSensorRule(true, outOfRangeGpsRule.getId())">
                 <i class="fa fa-toggle-off"></i>
               </button>
               <button ng-switch-when="true"  type="button" rel="tooltip" class="btn btn-outline-success btn-icon btn-sm" ng-click="GetRulesController.enableSensorRule(false, outOfRangeGpsRule.getId())">
                 <i class="fa fa-toggle-on"></i>
               </button>
               <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm" ng-click="GetRulesController.deleteSensorRule(outOfRangeGpsRule.getId())">
                 <i class="fa fa-times"></i>
               </button>                          
             </td>
           </tr>                
         </tbody>
       </table>
     </div>
   </div>
</div>